header {
  border: 2px solid rgb(142, 177, 207);
  max-width: 800px;
  height: 430px;
  margin: 70px 150px;
}
.search-form {
  margin-top: 55px;
}
ul {
  list-style-type: none;
  text-align: right;
  margin-top: -80px;
  padding: 0;
}
.city {
  color: rgb(0, 110, 197);
}
li,
.components,
p {
  color: grey;
}
.weather-temperature img {
  height: 64px;
  width: 64px;
  position: relative;
  top: 10px;
}
.temp {
  color: rgb(66, 165, 245);
  font-size: 50px;
  font-weight: 450;
}
.components {
  position: relative;
  top: 40px;
}
.weekdays {
  margin-top: 53px; 
  text-align: center;
}
h6 {
  color: rgb(0, 110, 197);
  font-size: 16px;
}
.units {
  position: relative;
  bottom: 20px;
  text-decoration: none;
  font-size: 18px;
}
#celsius-link:hover,
#fahrenheit-link:hover {
  cursor: pointer;
  text-decoration: underline;
}
h5 {
  position: absolute;
  margin-top: -50px;
  left: 150px;
  font-size: 18px;
}
